<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hospital Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Hospital_Management.styles.css" asp-append-version="true" />
</head>
<body>
    <header id="header" class="top">
        <div class="container d-flex align-items-center">
            <a href="@Url.Action("Index", "Home")" class="logo me-auto">
                <img src="~/images/6673746_checkup_doctor_health_healthcare_hospital_icon.png" alt="Logo" class="img-fluid" />
            </a>
            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a href="@Url.Action("Index", "Home")" class="nav-link scrollto @(ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active" : "")">Home</a></li>
                    <li><a href="@Url.Action("About", "Home")" class="nav-link scrollto @(ViewContext.RouteData.Values["action"].ToString() == "About" ? "active" : "")">About</a></li>
                    <li><a href="@Url.Action("Service", "Home")" class="nav-link scrollto @(ViewContext.RouteData.Values["action"].ToString() == "Service" ? "active" : "")">Service</a></li>
                    <li><a href="@Url.Action("Doctors", "Home")" class="nav-link scrollto @(ViewContext.RouteData.Values["action"].ToString() == "Doctors" ? "active" : "")">Doctors</a></li>
                    <li><a href="@Url.Action("Login", "User")" class="nav-link scrollto">Login</a></li>
                </ul>
            </nav>  
        </div>
    </header>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer position-relative">
        <div class="footer-bottom">
            <div class="container-fluid">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="copyright-text">
                                <p class="mb-0">
                                    <div class="copyRight text-center">
                                        <p>© @(DateTime.Now.Year) All Rights Reserved</p>
                                    </div>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="copyright-menu">
                                <ul class="policy-menu d-flex gap-2 justify-content-center">
                                    <a asp-controller="Home" asp-action="Terms" class='text-white'>Terms and Conditions</a>
                                    <a asp-controller="Home" asp-action="Privacy" class='text-white'>Privacy Policy</a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
