@model IEnumerable<Hospital_Management.Areas.Admin.Controllers.SecurityLogViewModel>

@{
    ViewBag.Title = "Security and Access Control";
}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<div class="container mt-5">
    <h2>Security and Access Control</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Event</th>
                <th>User</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in Model)
            {
                <tr>
                    <td>@log.Id</td>
                    <td>@log.Event</td>
                    <td>@log.User</td>
                    <td>@log.Date</td>
                    <td>@log.Status</td>
                </tr>
            }
        </tbody>
    </table>
</div>
